.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 40px;
    box-shadow: lightgray 4px 4px 20px;
    h2 {
        text-decoration-line: underline;
    }

    img {
        width: 75%;
    }

    button{
        background-color: transparent;
        box-sizing: border-box;
        box-shadow: lightgray 1px 1px 7px;;
        border: none;
        margin: 5px;
        &:active {
            transform: translate(1px,1px);
            box-shadow: lightgray 0 0 5px;
        }
    }
}

.clickSnap{
    background-color: lightgreen;
    color: darkgreen;
}